
/*menu styling*/




/*general container and section styling*/
#container {
    padding-top: 20px;
    margin-top: 40px;
}
#container > section {
    font-family: courier;
    min-height: 80vh;
    overflow: hidden;
}
.sectionDiv {
    padding: 20px;
    opacity: 0;
}
h1{
	font-family: DIN-Condensed-Bold;
}
h2 {
    font-size: 40px;
    margin-bottom:10vh; !important;
    font-weight: 100 !important;
}
h3 {
    font-size: 24px !important;
    margin-top: 0px !important;
}
p{
	font-family: SpaceMono-Regular;
	color: rgb(107, 186, 112);
}


.fixmargin{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
/*about section*/
#about {
	padding: 0;
}
#aboutText {
    display: inline-block;
    float: left;
	padding: 20vh 5vw 0;
}

#aboutText p {
    font-size: 16px;
    padding-top: 10px;
	text-align: justify;
}

#aboutImg {
    max-width: 300px;
	float: unset;
	margin: 0 auto;

    display: none;
}
.select2-choice{
	border: 1px solid rgb(193, 208, 220) !important;
	border-radius: unset !important;
}
.select2-container{
	width: 120px;
	margin: 0 auto;
}

#meImg{
    width: 100%;
    border-radius: 20px;
}

/*travel section*/

#instaDiv{
    text-align: center;
}
#mapDiv{
	padding-top: 50px;
	text-align: center;
	position: relative;
	width: 100%;
	height: 90vh;
}

#mapWindow{
	position: absolute;
	left: 50%;
	margin-left: -45vw;
	width: 90vw;
	height: 90vh;
}

#map{
	width: 100%;
	height: 100%;
}

.map-icon-label .map-icon{
    font-size: 12px !important;
}

/*instagram section*/
#instaFeed{
	text-align: center;
}
.instapic{
    width: min-content;
	padding: 5px;
	display: inline-block;
}


.instacap{
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    font-family: Neue Helvetica;
}

#mapTitle{
    margin-top: 40px !important;
}

#filter{
    position: absolute;
    bottom: 7%;
    right: 7%;
    border: 0px solid black;
    background-color:  #fff;
    cursor: pointer;
    padding: 5px;
}

#filterChevron{
    margin-left: 10px;
}

.filterCheckbox{
    margin: 10px;
}

.checkFilter {
    display: none;
}

#blogDiv {
    text-align: center;
	position: relative;
}

#blogTitle {
    margin-top: 30px !important;
    text-align: center;
}
.articleTab {
    width: 30vw;
    text-align: left;
}

.tab-chev {
    float: right;
}

.blog-articles{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.list {

}

/*qualifications section*/
.qualifications {
    display: inline-block;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.qualifications p{
    margin-bottom: 0px;
}

#queensFigure {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#degreesDiv {
    display: inline-block;
    margin-right: 50px;
    float:left;
    clear: left;
}
#degreesDiv img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    display: block;
}

.degree-loc {
    font-size: 12px;
}



#languageSelect {
    display: inline-block;
    float: left;
    width: 80%;
    margin-bottom: 20px;
}


#selectLang {
    display: block;
    visibility: hidden;
}


/*experience section*/
#experience {

}






#thingsUsed {
	display: inline-block;
	float: left;
	position: relative;
	padding: 0;
}








.checkbox {
    display: block;
	color: rgb(108,123,149);
}


.experience-history{
	min-height: 400px !important;
}

/*testimonials section*/
.testimonialArticle{
    margin: 40px 30px 20px;
}

.tesQuote{
    max-width: 60vw;
}



#msg {
	min-height: 200px;
}

#sendBtn {
    float:left;
    clear: both !important;
    margin-top:0px;
}


footer{
	position:relative;
	height: 150px;
	overflow: hidden;
	background-color: unset !important;
}
footer #menu{
	height: 25px;
	position: absolute;
	right: 0;
	bottom: 40px;
	width: 100%;
}
footer #main-nav{
	position: absolute;
	width: 600px;
	top: 0;
}
.rc-anchor-light{
    background-color: rgb(39, 40, 41) !important;
    color: rgb(242, 240, 238) !important;
}

/* How menu will react to small screens. */

