
/*menu styling*/
.main-navigation {
    position: absolute;
    top: 50px;
    width: 600px;
    right: 0;
    max-width: 100%;
    margin-right: 10px;
    text-align: center;
}
.main-navigation ul {
    align-items: center;
	width: 600px;
    margin: 0px;
    padding: 0px;
}
.main-navigation ul li {
    display: inline-block;
    list-style-type: none;
}
.main-navigation ul li a {
    display: inline-flex;
    padding: 7px;
    font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
	color: #333333;

}
.main-navigation ul li a span {
    margin-left: 7px;
}
#menu{
}
#miniMenu {
    display: none;
    font-size: 36px;
    margin-right: 20px;
    cursor: pointer;
}
#main-nav{
	display: none;
	justify-content: space-between;
}

body{
    color: rgb(193, 208, 220) !important;
    background-color: rgb(70,65,89) !important;
}

/*general container and section styling*/
#container {
    padding-top: 20px;
    margin-top: 40px;
}
#container > section {
    font-family: courier;
    min-height: 80vh;
    overflow: hidden;
}
.sectionDiv {
    padding: 20px;
    opacity: 0;
}
h1{
	font-family: DIN-Condensed-Bold;
}
h2 {
    font-size: 40px;
    margin-bottom:10vh; !important;
    font-weight: 100 !important;
}
h3 {
    font-size: 24px !important;
    margin-top: 0px !important;
}
p{
	font-family: SpaceMono-Regular;
	color: rgb(107, 186, 112);
}
.above-title{
	font-size: 16px;
	color: gray;
	margin-bottom: 10px;
}

.fixmargin{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
/*about section*/
#about {
	padding: 0;
}
#aboutText {
    display: inline-block;
    float: left;
	padding: 20vh 5vw 0;
}

#aboutText p {
    font-size: 16px;
    padding-top: 10px;
	text-align: justify;
}

#aboutImg {
    max-width: 300px;
	float: unset;
	margin: 0 auto;

    display: none;
}
.select2-choice{
	border: 1px solid rgb(193, 208, 220) !important;
	border-radius: unset !important;
}
.select2-container{
	width: 120px;
	margin: 0 auto;
}

#meImg{
    width: 100%;
    border-radius: 20px;
}

/*travel section*/

#instaDiv{
    text-align: center;
}
#mapDiv{
	padding-top: 50px;
	text-align: center;
	position: relative;
	width: 100%;
	height: 90vh;
}

#mapWindow{
	position: absolute;
	left: 50%;
	margin-left: -45vw;
	width: 90vw;
	height: 90vh;
}

#map{
	width: 100%;
	height: 100%;
}

.map-icon-label .map-icon{
    font-size: 12px !important;
}

/*instagram section*/
#instaFeed{
	text-align: center;
}
.instapic{
    width: min-content;
	padding: 5px;
	display: inline-block;
}


.instacap{
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    font-family: Neue Helvetica;
}

#mapTitle{
    margin-top: 40px !important;
}

#filter{
    position: absolute;
    bottom: 7%;
    right: 7%;
    border: 0px solid black;
    background-color:  #fff;
    cursor: pointer;
    padding: 5px;
}

#filterChevron{
    margin-left: 10px;
}

.filterCheckbox{
    margin: 10px;
}

.checkFilter {
    display: none;
}

#blogDiv {
    text-align: center;
	position: relative;
}

#blogTitle {
    margin-top: 30px !important;
    text-align: center;
}
.articleTab {
    width: 30vw;
    text-align: left;
}

.tab-chev {
    float: right;
}

.blog-articles{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.list {
    width: 100%;
	height: 400px;
    margin: 15px;
    display: flex;
	flex-direction: column;
	box-shadow: 5px 10px rgb(70,65,89);;
}

.list-image-div {
    width:100%;
    height: 200px;
    display:block;
    margin-right:10px;
}

.list-image {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	border-radius: 5px;
	background-position: center;
}

.list-text{
    padding: 5px;
	text-align: center;
	height: 200px;
	background-color: rgb(70,65,89);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-title {
    display: block;
    color: rgb(193, 208, 220);
}

.list-title:hover{
    text-decoration: underline;
    color: rgb(193, 208, 220);
}

.list-loc {
    font-size: 11px;
    color: #1ABC9C;
    margin-top: 5px;
}
/*qualifications section*/
.qualifications {
    display: inline-block;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.qualifications p{
    margin-bottom: 0px;
}

#queensFigure {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#degreesDiv {
    display: inline-block;
    margin-right: 50px;
    float:left;
    clear: left;
}
#degreesDiv img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    display: block;
}

.degree-loc {
    font-size: 12px;
}

.languagesDiv {
	width: 100%;
	max-width: 500px;
	padding: 20px;
    float:right;
	text-align: left;
	border: 1px solid rgb(222,255,139);
}

#languageSelect {
    display: inline-block;
    float: left;
    width: 80%;
    margin-bottom: 20px;
}

.languagesDiv article > div {
    display: block;
    margin-right: 40px;
    width: 20vw;
}

#selectLang {
    display: block;
    visibility: hidden;
}

.qual-text{
	float: right;
	padding: 30px 0;
	max-width: 500px;
}
.qual-text p{
	text-align: left;
	color: rgb(107,186,112);
}
.section-title{
	float: right;
	text-align: left;
}
.degree{
	color: rgb(222,255,139);
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	float:left;
}
.year{
	display: flex;
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	font-family: DIN-Condensed-Bold;
	color: dimgrey;
	text-transform: uppercase;
	float: right;
}
.degree-loc{
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	color: rgb(107,186,112);
}
.degree-loc i{
	margin-right: 10px;
	color: rgb(107,186,112);
}
/*experience section*/
#experience {
    min-height: 90vh !important;
}

.positions{
    display: inline-block;
    float: left;
    margin-right: 40px;
}

.clickExp {
    background-color: #1ABC9C;
    color: rgb(193, 208, 220);
    margin: 2px;
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.experienceImg {
    display: inline-block;
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.experienceImg img {
    width: 100%;
}
#thingsUsed {
	display: inline-block;
	float: left;
	position: relative;
	padding: 0;
}


#virtualLanguages {
    display: inline-block;
    float: left;
    max-width: 150px;
    margin-right: 40px;
}

#frameworks {
    display: block;
    float: left;
    clear: right;
    max-width: 150px;
}

#moreInfo {
    display: block;
    float: left;
    max-width: 500px;
    margin-left: 10vh;
}

#moreInfo p {
    font-size: 16px;
}

.checkbox {
    display: block;
	color: rgb(108,123,149);
}


.exprecience-history{
	min-height: 400px !important;
}

/*testimonials section*/
.testimonialArticle{
    margin: 40px 30px 20px;
}

.tesQuote{
    max-width: 60vw;
}

/*contact section*/


#socialLinks i{    
    font-size: 32px;
    margin: 10px;
}

#socialLinks i:hover {
    cursor: pointer;
    color: #1ABC9C;
}


#msg {
	min-height: 200px;
}

#sendBtn {
    float:left;
    clear: both !important;
    margin-top:0px;
}

.form-control{
    border-top-color: rgb(73, 78, 82) !important;
    border-right-color: rgb(73, 78, 82) !important;
    border-bottom-color: rgb(73, 78, 82) !important;
    border-left-color: rgb(73, 78, 82) !important;
    background-color: rgb(37, 38, 39) !important;
    color: rgb(107,186,112);
    box-shadow: none !important;
	border-radius: unset;
}

footer{
	position:relative;
	height: 150px;
	overflow: hidden;
	background-color: unset !important;
}
footer #menu{
	height: 25px;
	position: absolute;
	right: 0;
	bottom: 40px;
	width: 100%;
}
footer #main-nav{
	position: absolute;
	width: 600px;
	top: 0;
}
.rc-anchor-light{
    background-color: rgb(39, 40, 41) !important;
    color: rgb(242, 240, 238) !important;
}

/* How menu will react to small screens. */

