/*
*	Colours
 */
$dark_green: rgb(107,186,112);
$light_green: rgb(222,255,139);

$dark_gray: rgb(70,65,89);
$light_gray: rgb(108,123,149);

$white: rgb(255,255,223);

@font-face {
  font-family: "SpaceMono-Bold";
  src: url("https://www.ryanheadley.net/assets/fonts/SpaceMono-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "SpaceMono-BoldItalic";
  src: url("https://www.ryanheadley.net/assets/fonts/SpaceMono-BoldItalic.ttf") format("opentype");
}
@font-face {
  font-family: "SpaceMono-Italic";
  src: url("https://www.ryanheadley.net/assets/fonts/SpaceMono-Italic.ttf") format("opentype");
}
@font-face {
  font-family: "SpaceMono-Regular";
  src: url("https://www.ryanheadley.net/assets/fonts/SpaceMono-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "DIN-Condensed-Bold";
  src: url("https://www.ryanheadley.net/assets/fonts/DIN-Condensed-Bold.ttf") format("opentype");
}

//@font-face {
//  font-family: "SpaceMono-Bold";
//  src: url("http://localhost/~ryanheadley/PersonalWebsite/codeigniter/assets/fonts/SpaceMono-Bold.ttf") format("opentype");
//}
//@font-face {
//  font-family: "SpaceMono-BoldItalic";
//  src: url("http://localhost/~ryanheadley/PersonalWebsite/codeigniter/assets/fonts/SpaceMono-BoldItalic.ttf") format("opentype");
//}
//@font-face {
//  font-family: "SpaceMono-Italic";
//  src: url("http://localhost/~ryanheadley/PersonalWebsite/codeigniter/assets/fonts/SpaceMono-Italic.ttf") format("opentype");
//}
//@font-face {
//  font-family: "SpaceMono-Regular";
//  src: url("http://localhost/~ryanheadley/PersonalWebsite/codeigniter/assets/fonts/SpaceMono-Regular.ttf") format("opentype");
//}
//@font-face {
//  font-family: "DIN-Condensed-Bold";
//  src: url("http://localhost/~ryanheadley/PersonalWebsite/codeigniter/assets/fonts/DIN-Condensed-Bold.ttf") format("opentype");
//}


html{
  overflow-x: hidden;
}
body{
  font-family:SpaceMono-Regular;
  color: rgb(193, 208, 220) !important;
  background-image: linear-gradient($dark_gray,rgb(130, 122, 159));
}
section{
  padding: 100px 0;
}
a{
  color: $light_green !important;
}
i{
  color: $light_green !important;
}
.select2-arrow {
  border-color: #deff8b transparent !important;
}
#top-logo{
  position: absolute;
  top: 20px;
  z-index: 2;
  width: 45px;
  display: block;
  left: 30px;
}
.dropdown-toggle::after{
  display: none !important;
}
.main-navigation {
  position: absolute;
  top: 50px;
  width: 600px;
  right: 0;
  max-width: 100%;
  margin-right: 10px;
  text-align: center;
  z-index: 99;

  ul {
	align-items: center;
	width: 600px;
	margin: 0px;
	padding: 0px;

	li {
	  display: inline-block;
	  list-style-type: none;

	  a {
		display: inline-flex;
		padding: 7px;
		font-family: DIN-Condensed-Bold;
		text-transform: uppercase;
		font-size: 16px;
		text-decoration: none;
		color: $dark_gray !important;

		span {
		  margin-left: 7px;
		}
	  }
	}
  }
}
#miniMenu {
  display: none;
  font-size: 36px;
  margin-right: 20px;
  cursor: pointer;

  i{
	color: $white !important;
  }
}
#main-nav{
  display: none;
  justify-content: space-between;
}
#miniMenu{
  position: absolute;
  right: 15px;
  top: 25px;
  display: block;
  color: $white;
  z-index: 99;
}
#main-nav-footer{
  display: none;
}
.btn{
  border: 1px solid rgb(193, 208, 220) !important;
  border-radius: unset !important;
  background-color: transparent;
}
.bg-blob{
  display: none;
  position: absolute;
  z-index: -1;
}
.bg1{
  display: inline-block;
  width: 100vw;
  max-width: 100vw;
  top: 0;
  left: 50%;
  margin-left: -50vw;
}
.bgw{
  max-width: 200px;
  right: -50px;
  top: -120px;
}
.bga{
  left: 32vw;
  bottom: -35%;
  max-width: 300px;
}
.logo{
  width: 80px;
  bottom: 0px;
  left: 10%;
  top: unset;
}
.bgw{
  max-width: 200px;
  right: -50px;
  top: -120px;
}
.bg6{
  width: 100%;
  top: 0;
  left: 0;
}
.bg7{
  left: -43vw;
  top: 0px;
  width: 100%;
}
.bg3{
  width: 100vw;
  max-width: 100vw;
  top: -180px;
  left: 50%;
  margin-left: -50vw;
}
.bgh{
  max-width: 40vw;
}
.bgc{
  width: 60px;
  bottom: 20px;
  top: unset;
  left: -50px;
}
.bg8{
  width: 300px;
  left: 55%;
  top: 120%;
}
.bg9{
  right: 44%;
  left: unset;
  width: 300px;
  margin-right: -50vw;
}
.bg10{
  display: block;
  left: -3px;
  width: 101vw;
  height: 100%;
}
.order-1{
  display: flex;
  flex-direction: column;
  order: 1;
}
.order-2{
  display: flex;
  order: 2;
}
.nopadding{
  padding: 0 !important;
}
.l-grn{
  color: $light_green;
}
.l-gry{
  color: $light_gray;
}
.progress-bar-success{
  background-color: transparent !important;
  background-image: linear-gradient(to right,$light_green,$dark_green) !important;
  color: transparent !important;
}
.select2-drop .select2-highlighted > .select2-result-label{
  background-color: $dark_green !important;
}
.form-control{
  font-family: SpaceMono-Regular !important;
  color: $light_green !important;
  border-top-color: rgb(73, 78, 82) !important;
  border-right-color: rgb(73, 78, 82) !important;
  border-bottom-color: rgb(73, 78, 82) !important;
  border-left-color: rgb(73, 78, 82) !important;
  background-color: rgb(37, 38, 39) !important;
  box-shadow: none !important;
  border-radius: unset;

  &::placeholder{
	color: $dark_green !important;
  }
}
.title{
  font-family: DIN-Condensed-Bold;
  color: $dark_gray;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0;
  text-shadow: -1px -1px 0 rgb(193, 208, 220), 1px -1px 0 rgb(193, 208, 220), -1px 1px 0 rgb(193, 208, 220), 1px 1px 0 rgb(193, 208, 220);
}
.above-title{
  font-family: DIN-Condensed-Bold;
  font-size: 22px;
  color: $light_gray;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}
.languagesDiv{
  margin-top: 25px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  float:right;
  text-align: left;
  border: 1px solid rgb(222,255,139);

  article > div {
	display: block;
	margin-right: 40px;
	width: 20vw;
  }
}
.modal-content{
   background-color: transparent !important;
}
.modal-header{
  border: none !important;
}
.modal-body{
  padding: 0 !important;
  background-color: black;

  img{
	max-width: 100%;
  }
  .insta-caption{
	max-width: 80%;
	margin: 20px auto;
	text-align: left;
  }
}
.open{
  .dropdown-menu{
	display: block !important;
  }
}
.dropdown-item{
  color: $dark_green !important;
}
.close{
  color: $white !important;
}
#travel{
  .travel-container{
	order: 1;
  }
  .insta-container{
	order: 2;
  }
  .instapic:hover{
	cursor: pointer;
  }
  #instaBtn{
	position: relative;
	bottom: 0;
	left: 0;
	margin-bottom: 10px;

	i{
	  margin-right: 10px;
	}
  }
}
#qualifications{
  .qual-text{
	float: right;
	padding: 30px 0;
	max-width: 500px;
  }
  .qual-text p{
	text-align: left;
	color: rgb(107,186,112);
  }
  .section-title{
	float: right;
	text-align: left;
	padding-left:15px;
  }
  .degree{
	color: rgb(222,255,139);
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	float:left;
  }
  .year{
	display: flex;
	text-transform: uppercase;
	font-family: DIN-Condensed-Bold;
	color: $light_gray;
	text-transform: uppercase;
	float: right;
  }
  .degree-loc{
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	color: rgb(107,186,112);
  }
  .degree-loc i{
	margin-right: 10px;
	color: rgb(107,186,112);
  }
  .progress{
	border-radius: 0 !important;
  }
}
#experience{
  min-height: 90vh !important;

  #hover4Info{
	font-family: SpaceMono-Regular;
	margin-left: 15px;
  }
  #cvBtn{
	display: block;
	margin-bottom: 25px;
	margin-left: 5px;

	span{
	  word-spacing: 4px;
	  padding: 0 5px;
	}
  }

  .portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 999px;
	margin: 0 auto;

	.portfolio-item {
	  display: inline-block;
	  position: relative;
	  width: 45%;
	  margin-bottom: 50px;
	}

	.portfolio-image-div {
	  z-index: 2;
	  height: 150px;
	}

	.portfolio-image {
	  background-position: center;
	  background-repeat: no-repeat;
	  background-color:white;
	  background-size: cover;
	  height: 150px;
	  width: 150px;
	}

	.portfolio-text {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  align-items: center;

	  z-index: 1;
	  padding: 10px;
	  min-height: 50%;
	}

	.portfolio-loc {
	  font-family: SpaceMono-Regular;
	  text-align: center;
	  color: rgb(107, 186, 112);
	  font-size: 14px;
	}
	.btn{
	  text-transform: uppercase;

	  i{
		margin-left: 10px;
	  }
	}
  }
  .clickExp {
	color: $dark_green;
	margin: 2px;
	white-space: nowrap;
	font-family: DIN-Condensed-Bold;
	text-transform: uppercase;
	font-size: 24px;
  }
  .positions{
	display: inline-block;
	float: left;
	margin-right: 40px;

	#positionsTable{
	  display: flex;
	  flex-direction: column;

	  #thingsUsed{
		background-image: url(https://www.ryanheadley.net/assets/images/green_background_6.png);
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		left: -30px;
		padding: 13px 30px;
	  }
	}
  }
  .experienceImg {
	display: inline-block;
	max-width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  .experienceImg img {
	width: 100%;
  }
  #moreInfo {
	display: block;
	float: left;

	p{
	  font-family: SpaceMono-Regular;
	  color: $light_green;
	  font-size: 16px;
	}
	blockquote{
	  border: none;
	  padding: 0;
	  margin: 0;
	}
  }
  .languages-frameworks{
	text-align: center;

	#thingsUsed{
	  display: none;
	}
  }
  #virtualLanguages {
	display: inline-block;
	float: left;
	font-family: DIN-Condensed-Bold;
	max-width: 150px;
	margin-right: 40px;
	color: $light_green;
  }
  #frameworks {
	display: block;
	float: left;
	clear: right;
	max-width: 150px;
	font-family: DIN-Condensed-Bold;
	color: $light_green;
  }


}
#blog{
  .blog-articles{
	flex-direction: column;

	.list{
	  width: 100%;
	  height: 400px;
	  margin: 15px;
	  display: flex;
	  flex-direction: column;

	  .list-image-div {
		width:100%;
		height: 200px;
		display:block;
		margin-right:10px;
	  }

	  .list-image {
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		background-position: center;
	  }

	  .list-text{
		padding: 5px;
		text-align: center;
		height: 200px;
		font-family: SpaceMono-Regular;
		font-size: 14px;
		background-image: linear-gradient($dark_gray, $light_gray);
		box-shadow: 3px 4px rgba(70,65,89,.3);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.blogButton{
		  text-transform: uppercase;
		}
	  }

	  .list-title {
		display: block;
		font-family: SpaceMono-Regular;
		font-size: 16px;
		color: $white !important;
	  }

	  .list-title:hover{
		text-decoration: underline;
		color: rgb(193, 208, 220);
	  }

	  .list-loc {
		font-size: 14px;
		color: $dark_green;
		margin-top: 5px;
	  }
	}
  }
}
#contact {
  min-height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0;

  #contactSubTitle{
	color: $dark_gray !important;
  }
  .input-group{
	margin: 10px 0;
  }

  #sendBtn{
	margin: 10px 0;

	button{
	  color: $light_green;
	}
  }

  #contactArticle {
	max-width: 500px;

	#contactText {
	  font-family: SpaceMono-Regular;
	  color: $light_green;
	}

	a:hover {
	  cursor: pointer;
	}
  }

  #contactForm {
	max-width: 500px;
	margin: 0 auto;
  }

}
#cvHeader{
  position: absolute;
  width: 100%;
  z-index: 1;

  #cvFrBtn{
	background-image: linear-gradient(to right, blue, white, red);
	padding: 5px;

	a{
	  color: black !important;
	}
  }
  #cvEnBtn{
	background-image: linear-gradient(to right, red, white, red, white, red);
	padding: 5px;

	a{
	  color: black !important;
	}
  }
}
#socialLinks{
  i{
	font-size: 32px;
	margin: 10px;
	color: $white !important;

	&:hover{
	  cursor: pointer;
	  color: $dark_green !important;
	}
  }
}

/*
**************************		RESPONSIVENESS		**************************
 */

@media screen and (max-width:480px){
  #instaFeed{
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  #instaFeed > a:nth-child(n+8){
	display: none;
  }
  .instapic{
	width: 42vw;
	margin: 10px;

	img{
	  width: 100% !important;
	  height: 100% !important;
	}
  }
  #menu{
	display: block !important;
  }
  #miniMenu {
	position: absolute;
	right: 15px;
	top: 15px;
  }


  .main-navigation ul li{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #878387
  }

  #about {
	padding-top: 0px !important;
  }
  .title{
	font-size: 4em;
  }
  #contact{
	text-align: center;
  }

}

@media screen and (min-width: 481px) {
  .main-navigation {
	display: inline-block !important;
  }

}

@media screen and (min-width:769px){
  #miniMenu{
	display: none;
  }
  #main-nav-footer{
	display: block;
	top: 0px;
  }
  #top-logo{
	width: 75px;
  }
  .bg-blob{
	display: inline-block;
  }
  .bg7{
	display: none;
  }
  .logo{
	width: 80px;
	bottom: 0px;
  }
  #about{
	padding-top: 35vh;
  }
  #main-nav{
	display: inline-block;
  }
  #aboutImg{
	margin-top: -40px;
	float: left;
  }
  #instaFeed{
	text-align: left;
  }
  .instapic img{
	width: 120px;
	height: 120px;
  }
  #languagesDiv{
	min-width: 500px;
  }
  #thingsUsed{
	padding: 60px 140px;
	width: 500px;
  }
  .title{
	font-size: 7em;
  }
  #blog{
	.blog-articles{
	  flex-direction: row;

	  .list{
		width: 33%;
	  }
	}

  }
  #travel{
	.travel-container{
	  order: 2;
	}
	.insta-container{
	  order: 1;
	}
	#instaBtn {
	  position: absolute;
	  left:15px;
	}
  }
  #experience{
	.portfolio{
	  display: flex;
	  justify-content: space-evenly;

	  .portfolio-item{
		display: flex;
		position: relative;
		height: 200px;
		width: 200px;
	  }
	  .portfolio-box{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
	  }
	  .portfolio-text{
		background-color: $dark_gray;
	  }
	  .portfolio-image-div{
		z-index: 2;
	  }
	  .portfolio-image{
		height: 200px;
		width: 200px;
	  }
	}
	.languages-frameworks{
	  #thingsUsed {
		display: block;
	  }
	}
  }
  #contact{
	padding: 0;
  }
  #contactText{
	color: $dark_gray;
  }
}

@media screen and (min-width: 996px){
  .travel-container{
	#travelText{
	  width: 110%;
	  font-size: 16px;
	}
  }
}
@media screen and (min-width: 1200px){
  .logo{
	width: 150px;
	bottom: 10px;
	left: 100px;
	top: unset;
  }
  .bgw{
	max-width: 200px;
	right: -50px;
	top: -120px;
  }
  .bg6{
	width: 100%;
	top: 0;
	left: 0;
  }
  .bg7{
	display: block;
	left: -44vw;
	top: 0px;
  }
  .bg3{
	width: 100vw;
	max-width: 100vw;
	top: -180px;
	left: 50%;
	margin-left: -50vw;
  }
  .bgh{
	max-width: 40vw;
  }
  .bgc{
	width: 60px;
	bottom: 20px;
	top: unset;
	left: -50px;
  }
  .bg8{
	width: 300px;
	left: 55%;
	top: 120%;
  }
  .bg9{
	right: 44%;
	left: unset;
	width: 300px;
	margin-right: -50vw;
  }
  .bg10{
	left: -3px;
	width: 101vw;
  }
  .instapic img{
	width: 150px;
	height: 150px;
  }
  .travel-container{
	#travelText{
	  width: 100%;
	  font-size: 18px;
	}
  }
  #contact {
	#contactArticle {

	  #contactText {
		color: $light_gray;
	  }
	}
  }
  footer{
	height: 300px;
	margin-top: 80px;
  }
}
@media screen and (min-width:1400px){
  .bg7{
	left: -34vw;
  }
}
